# Grist Files
*.grist
iziWall.grist

# Charte graphique (usage local uniquement)
iziwall-design-system.css

# Temporary & Helper Files
Grist_code_view.txt

# System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE & Editor Files
.idea/
.vscode/
*.swp
*.swo
*.code-workspace

# Logs & Dependencies (au cas où)
node_modules/
*.log
