# Grist Files
*.grist
iziWall.grist

# Temporary & Helper Files
Grist_\ code_view.txt

# System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE & Editor Files
.idea/
.vscode/
*.swp
*.swo
*.code-workspace

# Logs & Dependencies (au cas où)
node_modules/
*.log
